*.pyc
logs/*
lib/*
awscli*
bin/*
venv/*
*.class
*.o
*.so
*.pyc
*.sqlite3
.*.sw[a-z]
.sw[a-z]
*~
.DS_Store
bin-debug/*
bin-release/*
bin/*
tags
*.beam
*.dump
env/
env3/
.env/
.env-*
.env.production
.env.staging
.env.development
.env.infodev
.env.infositedev
*egg-info*
dist/
Icon?
node_modules/
yarn-error.log
.ipynb_checkpoints/
logs/
.mylogin-prod.conf
prod-dumps/
app/static/barcodes/
app/static/uploads/
.terraform/
build/
server/app/static/barcodes/*.png
server/app/static/uploads/*

prod-needlist-firebase-adminsdk-fbsvc-0939a814f4.json
staging-needlist-firebase-adminsdk-84et7-0ddc920240.json
dev-infosite-firebase-adminsdk-fbsvc-6de20c7124.json
dev-needlist-firebase-adminsdk-y6w20-fc58a47ee8.json
.env

# Debug files
ui-debug.log
firestore-debug.log
firebase-debug.log

# i18next makes annoying backup copies
*_old.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
firestore-debug.log
